{% extends "layouts/app.twig" %}

{% set roub = '<span class="icon-roub">₽</span>' %}

{% block pageTitle %}Adult traffic{% endblock %}

{% block mainScreen %}
	<div class="main-screen -text-center">
		<div class="container">
			<h1>Партнерская программа <br>Золушка project</h1>
			<div class="mb70"></div>
			<div class="main-screen__grid display-flex space-around">
				<div class="main-screen__item">
					<p class="main-screen__big-text">до 92 <span class="icon-roub bold">₽</span></p>
					<p class="main-screen__small-text">за регистрацию</p>
				</div>
				<div class="main-screen__item">
					<p class="main-screen__big-text">до 70%</p>
					<p class="main-screen__small-text">с прибыли</p>
				</div>
				<div class="main-screen__item">
					<p class="main-screen__big-text">до 50%</p>
					<p class="main-screen__small-text">с рефералов</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="video mb50">
		<img src="images/video-background@2x.jpg" alt="">
		<i class="icon-play-video"></i>
	</div>
	<div class="in-numbers">
		<div class="block-title -text-center mb30">Золушка Project в цифрах</div>
		<div class="in-numbers__grid fz0 lh0 -text-center mb70">
			<div class="in-numbers__item dib grey-rectangle">
				<div class="in-numbers__purple-text dib fz77 -purple-text mr10">
					5%
				</div>
				<div class="in-number__conversion-text fz30 dib -text-left lh1 ff-semibold">
					конверсия <br>в регистрацию
				</div>
			</div>
			<div class="in-numbers__item dib purple-rectangle">
				<div class="in-numbers__buy-converstion dib mr10 ff-semibold">
					<i class="icon-cart mr10"></i>
					<div class="dib fz44 -white-text">8%</div>
				</div>
				<div class="in-number__buy-conversion-text dib fz20 -white-text -text-left lh1">
					конверсия в покупку <br>платных услуг
				</div>
			</div>
		</div>
		<div class="in-numbers__bottom-grid display-flex space-around">
			<div class="in-numbers__bottom-item">
				<div class="in-numbers__bottom-purple-text ff-semibold dib -purple-text">
					18
				</div>
				<div class="in-numbers__bottom-text lh1 dib -grey-text">
					часов время принятие <br>решение о покупке
				</div>
			</div>
			<div class="in-numbers__bottom-item">
				<div class="in-numbers__bottom-purple-text ff-semibold dib -purple-text">
					30
				</div>
				<div class="in-numbers__bottom-text lh1 dib -grey-text">
					дней время <br>
					жизни Coockie
				</div>
			</div>
			<div class="in-numbers__bottom-item">
				<div class="in-numbers__bottom-purple-text ff-semibold dib -purple-text">
					10
				</div>
				<div class="in-numbers__bottom-text lh1 dib -grey-text">
					дней <br>
					холд
				</div>
			</div>
		</div>
		<div class="graph-description mb30 -text-center">
			Cервис «Золушка Project» создан для тех, кто ищет отношения по расчету. <br>
			Гарантированная конфиденциальность, телефонная связь без раскрытия номера,мобильное приложение Denim,
			подтверждение анкет и многое другое.
			<br>
			Мы делаем отношения по расчету выгодными!
		</div>
		<div class="-text-center">
			<a href="#" class="button">Присоединиться</a>
		</div>
	</div>
	<div class="count-profit -white-text">
		<div class="container">
			<div class="count-profit__inner">
				<div class="count-profit__title -text-uppercase -white-text mb40 -text-uppercase ff-semibold">Расчитайте свою
					прибль
				</div>

				<div class="display-flex space-between count-profit__grid">
					<div class="count-profit__big-item">
						<input type="text" data-bind="value: trafficCount, valueUpdate: 'keyup'"
									 placeholder="Укажите предполагаемый трафик, человек в день" class="db">
						<p class="ff-semibold profit__bottom-count">Суммарный доход: <span class="dib"><span
										data-bind="text: summaryProfit"></span> {{ roub }}/день</span></p>
					</div>
					<div class="count-profit__small-item">
						<div class="count-profit__subtitle fz16 ff-semibold mb10">Доход с регистраций:</div>
						<p class="count-profit__small-text fz12 mb10">Текущий процент подтверждения регистраций: 59%</p>
						<p class="count-profit__small-text fz12">Средняя конверсия в регистрации: 5%</p>
						<p class="profit__bottom-count ff-semibold"><span class="dib"><span
										data-bind="text: regProfit"></span> {{ roub }}/день</span></p>
					</div>
					<div class="count-profit__small-item">
						<div class="count-profit__subtitle fz16 ff-semibold mb10">Доход с платных сервисов:</div>
						<p class="count-profit__small-text fz12 mb10">Время принятия решения о покупке платной услуги: 18
							часов</p>
						<p class="count-profit__small-text fz12">Конверсия в платежи: 7%</p>
						<p class="ff-semibold profit__bottom-count"><span class="dib"><span
										data-bind="text: paysProfit"></span> {{ roub }}/день</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="real-statistic">
		<div class="container">
			<div class="clearfix">
				<div class="real-statistic__left">
					<div class="real-statistic__title block-title">Статистика в режиме <br>реального времени и <br>отдельный
						личный кабинет
					</div>
					<a href="#" class="button">Присоединиться</a>
				</div>
				<div class="real-statistic__right"></div>
			</div>
		</div>
	</div>

	<div class="we-buy">
		<div class="container">
			<p class="block-title mb30">Какие действия мы покупаем?</p>

			<div class="display-flex space-between">
				<div class="we-buy__left-side last-chilnd-no-mb">
					<div class="we-buy__section mb50">
						<p class="we-buy__section-title fz16 ff-semibold mb10">Выберите платформу</p>
						<ul class="we-buy__section-listing clean-element">
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Десктоп</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Мобильная версия</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Приложение IOS, Android</span></label>
							</li>
						</ul>
					</div>
					<div class="we-buy__section mb50">
						<p class="we-buy__section-title fz16 ff-semibold mb10">Выберите пол:</p>
						<ul class="we-buy__section-listing clean-element">
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Мужская анкета 27 - 45 лет</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Женская анкета 18 - 30 лет</span></label>
							</li>
						</ul>
					</div>
					<div class="we-buy__section mb50">
						<p class="we-buy__section-title fz16 ff-semibold mb10">Уточните регион:</p>
						<ul class="we-buy__section-listing clean-element">
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Москва и Питер</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Россия, кроме МСК и СПБ</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">СНГ, кроме РФ</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Остальной Мир</span></label>
							</li>
						</ul>
					</div>
					<div class="we-buy__section mb50">
						<p class="we-buy__section-title fz16 ff-semibold">Модель работы: CPL</p>
					</div>
				</div>
				<div class="we-buy__right-side">
					<div class="we-buy__right-top-bar mb20">
						<div class="we-buy__right-top-flex display-flex space-between mb10">
							<span class="we-buy__left-item -lightgrey-text fz44">Регистрация</span>
							<span class="we-buy__border-bottom"></span>
							<span class="we-buy__right-item fz44 ff-semibold">70 {{ roub }}</span>
						</div>
						<div class="we-buy__right-top-flex display-flex space-between">
							<span class="we-buy__left-item -lightgrey-text fz44">Пополнение от 750 рублей</span>
							<span class="we-buy__border-bottom"></span>
							<span class="we-buy__right-item fz44 ff-semibold">200 {{ roub }}</span>
						</div>
					</div>
					<div class="avail-traffic display-flex space-between">
						<div class="avail-traffic__left w48">
							<p class="avail-traffic__title ff-semibold mb10">
								<span class="dib fz20 mr10">Разрешенный трафик</span> <i class="icon-traffic-checked"></i>
							</p>
							<ul class="avail-traffic__listing clean-element fz12 ff-semibold last-chilnd-no-mb">
								<li class="avail-traffic__item">Clickunder/Popunder через прелендинг</li>
								<li class="avail-traffic__item">Doorway-трафик</li>
								<li class="avail-traffic__item">E-mail рассылка</li>
								<li class="avail-traffic__item">SMS-рассылки</li>
								<li class="avail-traffic__item">Popup-формат</li>
								<li class="avail-traffic__item">Баннерная реклама</li>
								<li class="avail-traffic__item">Брокерский трафик</li>
								<li class="avail-traffic__item">Группы в соц сетях</li>
								<li class="avail-traffic__item">Использование промокодов</li>
								<li class="avail-traffic__item">Мобильный трафик</li>
								<li class="avail-traffic__item">Оффервол/Приложение дня</li>
								<li class="avail-traffic__item">Приложения в соц сетях</li>
								<li class="avail-traffic__item">Скидочные и купонные агрегаторы</li>
								<li class="avail-traffic__item">Тизерная реклама</li>
								<li class="avail-traffic__item">Трафик из Facebook, Instagram, YouTube</li>
							</ul>
						</div>
						<div class="avail-traffic__right w48">
							<p class="avail-traffic__title ff-semibold mb10">
								<span class="dib fz20 mr10">Разрешенный трафик</span> <i class="icon-traffic-cross"></i>
							</p>
							<ul class="avail-traffic__listing clean-element fz12 ff-semibold last-chilnd-no-mb">
								<li class="avail-traffic__item">AdSpot/RichMedia/Sliding</li>
								<li class="avail-traffic__item">Cashback-трафик</li>
								<li class="avail-traffic__item">Clickunder/Popunder</li>
								<li class="avail-traffic__item">Авто-редирект</li>
								<li class="avail-traffic__item">Контекстная реклама</li>
								<li class="avail-traffic__item">Контекстная реклама на бренд</li>
							</ul>
							<div class="avail-traffic__note last-chilnd-no-mb">
								<p class="avail-traffic__note-item mb20">Выплаты за регистрацию доступны у по факту
									достижения 500 регистраций.</p>
								<p class="avail-traffic__note-item mb20">Выплаты за пополнение - достпуны к выводу на
									следующий рабочий день</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="refferal">
		<div class="container">
			<div class="block-title blue -text-center mb20">Рефферальная программа</div>

			<div class="refferal-grid display-flex space-between flex-middle">
				<i class="icon-referal-person"></i>
				<div class="refferal-arrow-green">
					<span class="dib -white-text fz15 ff-semibold mr10">
							Вы, как агент привлекаете <br>
							веб-мастеров на сайт
					</span>
					<i class="icon-full-screen"></i>
				</div>
				<i class="icon-users"></i>
				<div class="refferal-arrow-orange">
					<span class="dib -white-text fz15 ff-semibold mr10">
							Веб-мастера генерируют <br>трафик конвертируемый в <br>покупки платных сервисов
					</span>
					<i class="icon-line-chart"></i>
				</div>
				<i class="icon-logo-round"></i>
			</div>
			<div class="big-arrow mb30 -text-center">
				<span class="dib fz33 -white-text ff-bold mr10">$ ВАША ПРИБЫЛЬ</span>
				<span class="dib fz15 -white-text ff-semibold -text-left">
						30-70 % с покупок совершенных через вашего партнера <br>До 100% с первого пополнения через вашего партнера
				</span>
			</div>
			<div class="display-flex space-between">
				<div class="referal__table-wrapper">
					<div class="refferal__table table ff-semibold">
						<div class="tr">
							<div class="td table-header">
								Кол-во рефералов
							</div>
							<div class="td table-header">
								% партнерского вознаграждения с платных сервисов
							</div>
						</div>
						<div class="tr">
							<div class="td">
								1-5
							</div>
							<div class="td">
								5% от суммы покупки пользователя
							</div>
						</div>
						<div class="tr">
							<div class="td">
								5 - 15
							</div>
							<div class="td">
								10% от суммы покупки пользователя
							</div>
						</div>
						<div class="tr">
							<div class="td">
								> 15
							</div>
							<div class="td">
								15% от суммы покупки пользователя
							</div>
						</div>
					</div>
				</div>
				<div class="block-note fz0">
					<div class="dib fz12">
						<div class="avail-traffic__note-item">Активным реффералом считается вебмастер получивший не менее 10
							оплаченных регистраций
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="offer">
		<div class="container">
			<div class="offer-inner">
				<div class="block-title dark-purple offer-title lh1 mb20">Оффер для партнеров <br>с Адалт трафиком</div>
				<a href="#" class="offer-link">
					<span class="dib mr5 ff-semibold">Перейти</span> <i class="icon-offer-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="rating">
		<div class="container">
			<div class="rating__title fz20 ff-semibold -text-center">Рейтинг веб-мастеров партнерской программы сайта
				знакомств Золушка project
			</div>
			<div class="rating__subtitle -lightgrey-text fz14 -text-center mb20">Любой веб-мастер может убрать свое
				присутствие в рейтинге отметив соответствующую
				галочку в личном кабинете
			</div>

			<div class="rating-table table mb30">
				<div class="tr">
					<div class="td rating-table__header ff-semibold">№</div>
					<div class="td rating-table__header ff-semibold">Веб-мастер</div>
					<div class="td rating-table__header ff-semibold -text-right">Трафик</div>
					<div class="td rating-table__header ff-semibold -text-right">Регистрации</div>
					<div class="td rating-table__header ff-semibold -text-right">Подтвержденные <br>регистрации</div>
					<div class="td rating-table__header ff-semibold -text-right">Доход <br>с трафика</div>
					<div class="td rating-table__header ff-semibold -text-right">Доход <br>c покупок</div>
					<div class="td rating-table__header ff-semibold -text-right">Реферальный <br>доход</div>
				</div>
				<div class="table-group" data-bind="foreach: Webmasters">
					<div class="tr">
						<div class="td" data-bind="text: webmaster().number"></div>
						<div class="td">
							<img src="" alt="" data-bind="attr: {src: webmaster().ava}" class="dib mr5 rating-table__avatar">
							<span class="rating-table__value" data-bind="text: webmaster().name"></span>
						</div>
						<div class="td -text-right"><span class="rating-table__value" data-bind="text: webmaster().traffic"></span>
						</div>
						<div class="td -text-right"><span class="rating-table__value" data-bind="text: webmaster().regs"></span>
						</div>
						<div class="td -text-right"><span class="rating-table__value" data-bind="text: webmaster().confs"></span>
						</div>
						<div class="td -text-right"><span class="rating-table__value black"
																							data-bind="text: webmaster().buys_income"></span> {{ roub }}</div>
						<div class="td -text-right"><span class="rating-table__value black"
																							data-bind="text: webmaster().regs_income"></span> {{ roub }}</div>
						<div class="td -text-right"><span class="rating-table__value black"
																							data-bind="text: webmaster().ref_income"></span> {{ roub }}</div>
					</div>
				</div>
			</div>

			<div class="-text-center">
				<a href="#" class="button">Присоединиться</a>
			</div>
		</div>
	</div>

	{% include 'widgets/paybacks.twig' %}

	{% include 'widgets/reason.twig' %}

	{% include 'widgets/bottom-form.twig' %}
{% endblock %}